.section-journey {
  margin: 5rem 20rem;

  @media only screen and (max-width: 1120px) {
    margin: 5rem auto;
  }

  & .section-journey-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;

    @media only screen and (max-width: 1120px) {
      grid-template-columns: 1fr;
      width: 60%;
      margin: 5rem auto;
    }
  }

  &__step {
    position: relative;
    height: 50rem;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba($color-grey-dark-2, 0.1);

    &--picture {
      background-size: cover;
      height: 23rem;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &--heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color-white;
      text-align: right;
      position: absolute;
      padding: 2rem 1.5rem;
      top: 12rem;
      right: 2rem;
      width: fit-content;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      & span {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
    }

    &--details {
      padding: 3rem;

      ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;
        color: $color-grey-dark-2;

        li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem;

          &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light-2;
          }
        }
      }
    }
  }
}
