.section-services {
  padding: 9.6rem 20rem;

  & .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 6rem;
    align-items: start;

    & .service {
      display: grid;
      grid-template-columns: min-content 1fr;
      row-gap: 2rem;
      column-gap: 2.5rem;

      &__icon {
        color: $color-primary-dark;
        fill: $color-primary-dark;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
      }

      &__text {
        font-size: 1.7rem;
        line-height: 1.6;
      }
    }
  }
}
