$color-white: #fdf8f1;
$color-black: #000;

$color-background-light: #fdf8f1;
$color-background: #f7e2c8;
$color-background-dark: #eec591;

$color-primary: #4dabf7;
$color-primary-dark: #228be6;
$color-primary-light: #a5d8ff;

$color-grey-light-1: #e9ecef;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #868e96;
$color-grey-dark-2: #495057;

$font-primary: "Rubik", sans-serif;
